Repository ilya-frontman/webpack5--react-ts-scss-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint, npm run stylelint

update scripts: stylelint, prettier
  package.json
Due: none

husky: precommit, prepush (check branch force stop push for master/main/develop)
  .husky/pre-commit
  .husky/pre-push
Due: none

lintconfig js and scss
  .lintstagedrc
Due: none

update styles
  src/scss/global.scss
  src/scss/modules/_fonts.scss
  src/scss/modules/_mixins.scss
  src/scss/modules/_vars.scss
Due: npm run stylelint

build with yarn
  package.json
  yarn.lock
Due: none

update lintstage
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
Due: none

update gitignore
  .gitignore
Due: none

update eslint
  .eslintignore
  .eslintrc.json
Due: none

update stylelint
  .stylelintrc.js
  .stylelintrc.json
Due: npm run eslint

rm postcss & rename js to tsx (use typescript)
  postcss.config.js
  src/components/app/app.js
  src/index.js
Due: npm run eslint

update babel
  babel.config.json
Due: none

include ts
  tsconfig.json
Due: none

rename to .tsx
  src/components/app/app.tsx
  src/index.tsx
Due: none

update styles with stylelint order
  src/scss/global.scss
  src/scss/modules/_fonts.scss
Due: npm run stylelint

rm old lintstagedrc, now lintstagedrc.json
  .lintstagedrc
Due: none

update webpack build: includes ts
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: npm run eslint

format prettier app
  src/components/app/app.tsx
Due: none

update postcss.config only autoprefixer
  postcss.config.js
Due: npm run eslint

update webpack include postcss-loader (include autoprefixer)
  webpack.dev.js
  webpack.prod.js
Due: npm run eslint

include browserslist: prod and dev
  package.json
Due: none

add tailwind and config for postcss and stylelint, test with styles
  .stylelintrc.json
  package.json
  postcss.config.js
  src/scss/global.scss
  tailwind.config.js
  yarn.lock
Due: npm run eslint, npm run stylelint

update linters ignore
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

add svg module type for ts
  src/custom.d.ts
  tsconfig.json
Due: none

add ignore: custom.d.ts
  .eslintignore
Due: none

update svgo config
  svgo.config.js
Due: npm run eslint

add svg-sprite-html-webpack and svgo:compress script, fix clean script (dist)
  package.json
  yarn.lock
Due: none

update svg source
  public/svg/circle.svg
  public/svg/home-fill.svg
  public/svg/mail-fill.svg
Due: none

update webpack builds: hashnames and svg part
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: npm run eslint

test svg sprites: app and styles
  src/components/app/app.tsx
  src/scss/global.scss
Due: npm run stylelint

update dependencies and add jest
  package.json
  yarn.lock
Due: none

update eslint: jest and airbnb
  .eslintrc.json
Due: none

update prettier
  .prettierrc
Due: none

update lint-staged: only src folder
  .lintstagedrc.json
Due: none

update eslint (airbnb works)
  .eslintrc.json
Due: none

update lint-staged (only lint without fix)
  .lintstagedrc.json
Due: none

update ts config
  tsconfig.json
Due: none

fix eslint scripts and update dependencies
  package.json
  yarn.lock
Due: none

update source tsx and scss
  src/components/app/app.tsx
  src/index.tsx
  src/scss/global.scss
Due: npm run stylelint

Path conditions:
  npm run eslint: any of: *.js
  npm run stylelint: any of: *.scss
