Repository ilya-frontman/webpack5--react-ts-scss-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint, npm run stylelint, yarn run format, yarn run eslint, yarn run stylelint

.lintstagedrc:

{
  "*.js": "npm run eslint",
  "*.scss": "npm run stylelint"
}

.lintstagedrc.json:

{
  "*.(js|jsx|scss|html|ts|tsx)": "yarn run format",
  "*.(ts|tsx)": "yarn run eslint",
  "*.scss": "yarn run stylelint"
}

remove svg-sprite-html, now use external sprite.svg & update webpack build, compress svg use external svgo before webpack build
  package.json
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: npm run eslint

update tsconfig include: src & custom.d
  tsconfig.json
Due: none

add icon component with types: SVGSprite (sprite-loader), SVGIcon
  src/components/icon/icon.tsx
  src/custom.d.ts
Due: none

include Icon in app & update styles: .icon, .icon--white
  src/components/app/app.tsx
  src/scss/global.scss
Due: npm run stylelint, yarn run stylelint

remove imagemin-svgo and update lock
  package.json
  yarn.lock
Due: none

remove console.log
  src/components/app/app.tsx
Due: none

add svgo in dev dependencies
  package.json
  yarn.lock
Due: none

update path output folder: build
  webpack.common.js
  webpack.dev.js
Due: npm run eslint

update package and yarn.lock
  package.json
  yarn.lock
Due: none

update gitignore
  .gitignore
Due: none

add docker env
  .dockerignore
  Dockerfile.dev
  Dockerfile.prod
Due: none
